.vans_page {
  background-color: #fff7ed;
  padding: 16px;
  width: 100%;
  min-height: calc(100vh - 148px);
}

.title {
  color: #161616;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 24px;
}

.card_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 18px;
  overflow: hidden;
  width: 100%;
}

.card {
  width: 190px;
  margin-bottom: 16px;
}

.img_box {
  overflow: hidden;
  border-radius: 3px;
  width: 100%;
  height: 190px;
  margin-bottom: 6px;
}

.card_img {
  width: 100%;
  height: 190px;
  overflow: hidden;
  border-radius: 3px;
}

.name,
.price {
  color: #161616;
  font-size: 18px;
  font-weight: 600;
}

.name_price_box,
.type_day_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.type_day_box button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  color: #ffead0;
  font-size: 15px;
  font-weight: 600;
  margin-top: 12px;
  cursor: pointer;
}

.type_day_box p {
  color: #161616;
  font-size: 14px;
  font-weight: 500;
  align-self: self-start;
}

.filterBtn {
  cursor: pointer;
  background-color: #ffead0;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  font-weight: 500;
}

.filterBtnBox {
  display: flex;
  align-items: center;
  gap: 26px;
}

.simple:hover,
.simple.selected {
  background-color: #e17654;
  color: #fff;
}

.rugged:hover,
.rugged.selected {
  background-color: #115e59;
  color: #fff;
}

.luxury:hover,
.luxury.selected {
  background-color: #161616;
  color: #fff;
}

.all {
  background-color: transparent;
  text-decoration: underline;
}
