.container {
  min-height: calc(100vh - 220px);
  color: #161616;
  background-color: #fff7ed;
}

.container a {
  color: #161616;
  font-size: 16px;
  font-weight: 500;
}

.container a:hover {
  color: #000;
  text-decoration: underline;
}

.spaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wellDiv {
  background-color: #ffead0;
  padding: 16px;
}

.wellDiv h1 {
  margin-bottom: 16px;
}

.wellDiv p {
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 500;
}

.score {
  background-color: #ffddb2;
  padding: 32px 16px;
}

.list {
  padding: 16px;
}

.list h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.card {
  background-color: #fff;
  margin-bottom: 10px;
  background-color: #fff7ed;
}

.host_van_single {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 7px;
  background-color: #fff;
}

.host_van_single h3 {
  text-wrap: nowrap;
  background-color: #fff;
}

.host_van_single a {
  text-align: end;
  width: 100%;
}

.host_van_single p {
  color: #4d4d4d;
  font-size: 16px;
  font-weight: 500;
}

.host_van_single img {
  width: 50px;
  border-radius: 3px;
}

.host_van_info {
  margin-left: 12px;
}
