.container {
    padding: 16px;
    background-color: #fff7ed;
    min-height: 509px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 65px;
}

.title {
    color: #202124;
}

.link {
    display: inline-block;
    padding: 16px;
    height: 55px;
    width: 100%;
    color: #fff;
    background-color: #202124;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    font-weight: 700;
}